/*навігація*/
body{
	width: 100%;
	margin: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #212122;
}
h1{
	margin: 0;
}

p{
	margin: 0;
}
ul{
	padding: 0;
}
*{
	outline: none;
}
.container{
	max-width: 80%;
	margin: 0 auto;
}
.navigation{
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
	font-size: 14px;
	color: #212122;
}
.menu{
	display: flex;
	flex-wrap: wrap;
}
.menu a{
	text-decoration: none;
	color: #212122;
}
.menu div a{
	margin-right: 2vw;
}
.lang-parth{
	display: flex;
}
.lang-parth a{
	text-decoration: none;
	color: #8E8E8E;
	text-transform: uppercase;
	margin-right: 0.5vw;
}
.lang-parth a:hover{
	color: #212122;
}
.lang-parth a:active{
	color: #212122;
}
.login{
	min-width: 40px;
	margin-left: 1vw;
	text-transform: none;
	border: 1px solid #00B0F3;
	border-radius: 20px;
	padding: 0 1vw;
	color: #00B0F3;
}
.login a{
	text-transform: none;
}
/*кінець навігації*/

/*futer*/
.futer-container{
	background: #313131;
	display: flex;
	color: #FFFFFF;

}
.futer__input-parth{
	display: flex;
}
.futer__register-item p{
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 6vh;
}
.futer__register-item{
	border: 1px solid #8E8E8E;
	border-left: none;
	padding: 40px 22vw 60px 13vw;
}
.futer__register-item:first-child{
	border-top: none;
}
.futer__register-item:last-child{
	border-bottom: none;
}
.futer__icons a{
	margin-right: 1.5vw;
}
.futer__register-item span{
	margin-right: 1vw;
}
.futer__email{
	border: none;
	background: #313131;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.futer__submit{
	cursor: pointer;
	width: 30px;
	border: none;
	background: #313131 url(../img/svg/Arrow.svg) 0 0/100%no-repeat;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contacts{
	margin-left: 3vw;
}
.contacts p{
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 4vh;
	margin-top: 7vh;
}
.contact-details{
	display: flex;
	margin-top: 
}
.contact-details-items p{
	font-size: 1em;
	font-weight: 300;
	margin-right: 5vw;
	margin-bottom: 1.5vh;
	margin-top: 0;
}
.contact-details-value p{
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 1.5vh;
	margin-top: 0;
	margin-right: 1vw;
}
.futer__registration{
	margin-top: 1.5vh;
}
.futer__forget-password{
	margin-top: 1.5vh;
}
/*домашня сторінка*/
.header-home{
	background: url(../img/image-home.jpg) 0 0 / 100% 100% no-repeat;
	padding-left: 135px;
}
.header-header{
	font-weight: 400;
	padding-top: 170px;
	width: 60%;
}
.header-header p{
	text-transform: uppercase;
	font-size: 36px;
	line-height: 150%;
	margin-left: 
}
.header-search{
	margin-top: 10vh;
	display: flex;
}
.header-search select{
	text-align-last: right;
}
.header-search select option{
	direction: rtl; 
}
.search{
	width: 40%;
	border: none;
	height: 40px;
	padding: 0 1vw;
}
.search__input{
	border: none;
	border-radius: 7px 0px 0px 7px;
	padding-left: 20px;
}
.submit-search{
	cursor: pointer;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 0px 7px 7px 0px;
	background: #00B0F3 url(../img/svg/dandruff.svg) 50% 50% no-repeat;
}
.placeholder1{
	position: absolute;
	color: #8E8E8E;
	top: 1.3vh;
}
.placeholder2{
	position: absolute;
	left: 27vw;
	top: 1.3vh;
}
.header-block{
	margin-top: 20vh;
	padding-bottom: 5vh;
	display: flex;
}
.header-block h3{
	text-transform: uppercase;
	font-size: 1em;
	color: #8E8E8E;
	margin: 0;
}
.header-block p {
	color: #8E8E8E;
	margin: 0;
}
.header-block div{
	margin-right: 2vw;
}
/*search vacansy*/
.search__vacansy{
	margin-top: 45px;
	display: flex;
	padding-bottom: 256px;
}
.search__vacansy select{
	text-align-last: right;
}
.search__vacansy select option{
	direction: rtl; 
}
.vacanciees{
	padding-top: 10px;
	background: #FFFFFF;
	border-radius: 15px;
	width: 100%;
	margin-left: 135px;
	margin-top: -200px;
}
.vacanciees-amount{
	color: #3E3E3E;
	font-weight: 400;
	padding-left: 30px;
}
.search-body{
	display: flex;
}
.vacanciees-flex{
	display: flex;
	justify-content: space-between;
}
.vacanciees-right-box{
	display: flex;
	margin-right: 27px;
}
.vacanciees-data{
	color: #BD9EFF;
	font-weight: 400;
	padding-left: 30px;
}
.vacanciees-data img{
	cursor: pointer;
}
.vacanciees-story{
	color: #3E3E3E;
	font-weight: 400;
}
.vacanciees-right-box img{
	cursor: pointer;
}
.vacanciees-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 305px 305px 305px 305px;
	grid-gap: 15px;
	margin-top: 17px;
}
.vacanciees-grid-item{
	padding: 30px;
	box-shadow: 10px 10px 25px 10px rgba(198, 198, 198, 0.15);
	border-radius: 15px;
}
.search__category-box{
	display: flex;
	flex-wrap: wrap;
}
.search-container{
	width: 80%;
	margin-left: 60px;
}
.search-container:after{
	content: '';
	display: block;
	width: 100%;
	border: 1px solid rgba(62, 62, 62, 0.2);
	margin-top: 20px;
}
.search-container h2{
	font-size: 1.2em;
	font-weight: 400;
	color: #212122;

}
.search__category-item{
	padding: 7px 21px;
	border: 1px solid #8E8E8E;
	box-sizing: border-box;
	border-radius: 7px;
	margin-right: 25px;
	font-size: 0.875em;
	color: #8E8E8E;
	cursor: pointer;
	margin-bottom: 21px;
}
.search__category-item:hover{
	color: #BD9EFF;
}
.search__more{
	color: #BD9EFF;
	font-size: 0.875em;
	font-weight: 400;
	cursor: pointer;
}
.search-range-item{
	height: 1px;
	width: 166px;
	background: #BD9EFF;
	margin-top: 30px;
}
.salary-search-prise{
	color: #BD9EFF;
	font-size: 1.125em;
	margin-left: 150px;
}
.salary-serch-box{
	display: flex;
	justify-content: space-between;
	width: 26%;
	margin-top: 20px;
}
.grid-buttons p{
	font-size: 1.25em;
	letter-spacing: 0.01em;
	color: #BD9EFF;
	line-height: 40px;
	margin-left: 7px;
	margin-right: 30px;
}
.search-scrol-box{
	display: flex;
	margin-top: 50px;
	padding-bottom: 92px;
	font-size: 1.175em;
	font-weight: 400;
	color: #BD9EFF;
	line-height: 150%;
}
.search-scrol-left{
	cursor: pointer;
}
.search-scrol-box p{
	cursor: pointer;
	margin: 0 15px;
	box-sizing: border-box;
}
.search-scrol-box p:hover{
	border: 1px solid #BD9EFF;
	border-radius: 100%;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	text-align: center;
}
.search-scrol-right{
	cursor: pointer;
}
/*offers*/
.ofers-title{
	margin-top: 10vh;
	margin-bottom: 5vh;
	display: flex;
	justify-content: space-between;
}
.ofers-title p{
	text-transform: uppercase;
	font-size: 2.25em;
}
.ofers-title a{
	text-decoration: none;
	color: #00B0F3;
}
.vacanciees-number{
	font-weight: 400;
	color: #3E3E3E;
}
.grid{
	display: grid;
	grid-template-columns: 40.6vw 40.6vw;
	grid-template-rows: 305px 305px;
	grid-gap: 30px;
}
.grid-addition{
	color: #8E8E8E;
	}

.grid-item{
	box-shadow: 10px 10px 25px 10px rgba(198, 198, 198, 0.15);
	border-radius: 15px;
}
.grid-container{
	width: 85%;
	margin: 0 auto;
	margin-top: 30px;
}
.grid-title-box{
	display: flex;
	justify-content: space-between;
}
.grid-title-box-text p{
	font-size: 1.25em;
}
.grid-addition p{
	font-size: 0.875em;
}
.grid-text{
	margin-top: 10px;
	margin-bottom: 10px;
}
.grid-notes-box{
	font-size: 0.875em;
	display: flex;
	flex-wrap: wrap;
	color: #8E8E8E;
}
.grid-notes-box div{
	margin-right: 10px;
}
.grid-buttons{
	margin-top: 41px;
	display: flex;
	flex-wrap: wrap;
}
.grid-buttons a{
	text-decoration: none;
}
.grid-details{
	color: #FFFFFF;
	background: #00B0F3;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 20px;
	margin-left: 30px;
}
.grid-share{
	color: #00B0F3;
	border: 1px solid #00B0F3;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
/*filters*/
.filters-items{
	display: flex;
	flex-wrap: wrap;
	font-size: 0.875em;
}
.filters-item{
	border: 1px solid #8E8E8E;
	border-radius: 7px;
	padding: 1vh 1.7vw;
	margin-right: 2vw;
	margin-bottom: 3vh;
	color: #8E8E8E;
}
.filters-item:hover{
	border: 1px solid #00B0F3;
	color:  #00B0F3;
	cursor: pointer;
}
.location-items{
	display: flex;
	flex-wrap: wrap;
}
.location-item{
	border: 1px solid #8E8E8E;
	border-radius: 7px;
	padding: 1vh 1.7vw;
	margin-right: 2vw;
	margin-bottom: 3vh;
	color: #8E8E8E;
}
.location-item:hover{
	border: 1px solid #00B0F3;
	color:  #00B0F3;
	cursor: pointer;
}
.state-items{
	display: flex;
	flex-wrap: wrap;
}
.state-item{
	border: 1px solid #8E8E8E;
	border-radius: 7px;
	padding: 1vh 1.7vw;
	margin-right: 2vw;
	margin-bottom: 3vh;
	color: #8E8E8E;
}
.state-item:hover{
	border: 1px solid #00B0F3;
	color:  #00B0F3;
	cursor: pointer;
}
.filters-title{
	text-transform: uppercase;
	font-size: 2.25em;
	margin-top: 15vh;
	margin-bottom: 4vh;
}
.filter-box p{
	font-size: 1.125em;
	margin: 4vh 0;
}
.salary-box{
	display: flex;
	justify-content: space-between;
	width: 26%;
}
.salary-prise{
	color: #00B0F3;
	margin-left: 20vw;
}
.range-parth{
	color: #8E8E8E;
	font-size: 0.875em;
}
.range-item{
	width: 20%;
	height: 1px;
}
.filters-link-search{
	text-decoration: none;
	color: #FFFFFF;
}
.filters-button-search{
	margin-top: 30px;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	background: #00B0F3;
	border-radius: 20px;
	font-size: 0.875em;
	cursor: pointer;
}

/*jobs*/
.header-job-box{
	display: flex;
	color: #212122;
}
.picture-job{
	margin-top: 145px;
	margin-left: 135px;
}
.picture-job img {
	background: #FFFFFF;
	padding: 10px 21px;
}
.des-job{
	margin-top: 145px;
	margin-left: 30px;
}
.des-job-name{
	font-weight: 400;
	font-size: 2.25em;
	margin-bottom: 7px;
}
.des-job-box{
	display: flex;
}
.des-job-plase{
	margin-right: 20px;
	margin-bottom: 5px;
}
.des-job-time__box{
	display: flex;
}
.des-job-time__box img{
	width: 16px;
	margin-right: 13px;
	margin-bottom: 25px;
}
.des-job-time-of-posts{
	margin-bottom: 25px;
}
.des-job-butons__box{
	display: flex;
	flex-wrap: wrap;
}
.des-job-butons__box a{
	text-decoration: none;
}
.des-job-butons__box img{
	margin-left: 32px;
	margin-right:8px;
}
.description__apply{
	color: #FFFFFF;
	background: #00B0F3;
	border-radius: 20px;
	width: 150px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-right: 2vw;
	margin-top: 35px;
}
.description__share{
	color: #00B0F3;
	margin-top: 35px;
	border: 1px solid #00B0F3;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.like-parth{
	display: flex;
	margin-top: 35px;
}
.like-parth img{
	width: 20px;
}
.des-job-butons__box p{
	line-height: 40px;
	width: 81px;
}
.des-job-butons__box img{
	cursor: pointer;
}
.additional-inform__box{
	width: 70%;
	background: rgba(189, 158, 255, 0.1);
	display: flex;
	margin-top: 51px;
	margin-bottom: 50px;
}
.additional-inform__box div{
	padding: 30px;
}
.additional-inform__box div p{
	margin-bottom: 7px;
	font-weight: 400;
}
.additional-specifik{
	font-weight: 300;
	color: #BD9EFF;
}
.inform-of-job{
	display: flex;
	margin-top: 40px;
}
.inform-of-job__exposition{
	border-right: 1px solid rgba(142, 142, 142, 0.5);
	margin-left: 135px;
	padding-right: 60px;
}
.inform-of-job__exposition h3{
	font-weight: 400;
	font-size: 1.5em;
	color: #212122;
}
.inform-of-job__exposition p{
	line-height: 150%;
	color: #212122;
}
.like-parth p{
	line-height: 40px;
}
.inf-job__un-list h4{
	font-weight: 400;
	font-size: 1.125em;
	color: #000000;
}
.inf-job__un-list{ 
	list-style-type:none;
}
.inf-job__un-list li:before{
	content: '—';
}
.same__jobs-right-block{
	margin-left: 60px;
}
.same__jobs-right-block p{
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 30px;
}
.same__jobs-item{
	display: flex;
	width: 26vw;
	margin-right: 130px;
	margin-bottom: 30px;
}
.same__jobs-item img{
	margin-right: 20px;
	width: 80px;
	height: 80px;
}
.similar-jobs__flex-box{
	display: flex;
}
.similar-jobs__flex-box div{
	font-size: 0.875em;
}
.similar-jobs__point{
	margin-left: 17px;
	margin-right: 17px;
}
.similar-jobs__title{
	font-weight: 400;
	color: #BD9EFF;
	text-transform: uppercase;
}
.similer-jobs__prise{
	font-weight: 400;
	font-size: 0.875em;
}
.similer-jobs__time-teaching{
	color: #8E8E8E;
	font-size: 0.750em;
}
/*about*/
.about-us{
	background: url(../img/Subtract.jpg) 100% 0/ 30% no-repeat;
}
.about-us__header-box{
	width: 45%;
	padding-top: 144px;
	margin-left: 6.6%;
	margin-bottom: 90px;
}
.about-us__header-box p{
	margin-left: 2.8%;
}
.about-us__title{
	font-weight: 400;
	color: #BD9EFF;
	text-transform: uppercase;
	font-size: 1.5em;
}
.about-us__text{
	font-size: 3em;
	font-weight: 400;
}
.about-us__line-text{
	width: 55%;
	color: #8E8E8E;
	font-size: 1.25em;
}
.about-us__line-text:before{
	content: '';
	display: block;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	width: 110px;
	margin-left: -40px;
	margin-top: 11px;
	margin-bottom: 12px;
}
.about-us__intro-parth{
	margin: 0 auto;
	width: 55.5%;
	margin-bottom: 100px;
}
.intro-parth__title{
	font-weight: 400;
	font-size: 1.5em;
	color: #BD9EFF;
	text-transform: uppercase;
	text-align: center;
}
.intro__title-line{
	text-align: center;
	color: #000000;
	font-size: 2.25em;
	margin: 0 auto;
}
.intro__title-line:after{
	content: '';
	display: block;
	width: 110px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin: 0 auto;
	margin-bottom: 12px;
	margin-top: 8px;
}
.intro__text-parth{
	color: #8E8E8E;
	font-size: 1.25em;
	text-align: center;
}
.technological{
	background: url(../img/Subtract-2.jpg) 0 90px / 30% no-repeat;
	padding-bottom: 90px;
}
.techno-box{
	display: flex;
}
.techno-photos-top{
	width: 69%;
	position: absolute;	
	border-radius: 30px;
}
.techno-photos-bot{
	width: 68%;
	position: absolute;
	border-radius: 30px;
	right: 0;
	bottom: 0;
}
.techno-photos{
	position: relative;
	width: 32%;
	height: 24vw;
	margin-left: 9.4%;
}
.techno-text-parth{
	width: 47%;
	margin-bottom: 150px;
}
.techno-text-parth div{
	margin-left: 16%;
}
.techno__logo{
	text-transform: uppercase;
	color: #BD9EFF;
	font-size: 1.5em;
	font-weight: 400;
}
.techno-logo-line{
	color: #000000;
	font-weight: 400;
	font-size: 2.25em;	
}
.techno-logo-line:after{
	content: '';
	display: block;
	width: 110px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin-left: -59px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.techno__text{
	color: #8E8E8E;
	font-size: 1.25em;
}
.comp__title{
	font-size: 1.5em;
	color: #BD9EFF;
	text-transform: uppercase;
	text-align: center;
}
.complishment__box{
	display: flex;
	justify-content: space-around;
	padding: 0 11.3%;
}
.complishment__box div{
	border-right: 1.5px solid #8E8E8E;
	padding: 0 4.2%;
	margin-top: 30px;
}
.complishment__box div:last-child{
	border-right: none;
}
.comp__numeric{
	font-size: 5em;
	text-transform: uppercase;
}
.comp__text{
	font-size: 1.875em;
	color: #000000;
}
/*password reset, create acc деякі теги тут*/
.password-reset{
	width: 100%;
	background: url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
	padding-top: 74px;
	padding-bottom: 90px;
}
.pass-reset__box{
	width: 760px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 30px;
	background: #FFFFFF;	
}
.pass-reset__box-content{
	display: flex;
}
.pass-reset__box-text{
	width: 100%;
	margin: 150px auto 0 auto;
	padding-left: 21px;
}
.pass-reset__box-text p{
	color: #8E8E8E;
	margin-bottom: 5px;
	font-weight: 400;
}
.pass-reset__box-text input{
	border: 1px solid #8E8E8E;
	border-radius: 25px;
	box-sizing: border-box;
	width: 270px;
	height: 40px;
	margin-bottom: 35px;
}
.pass-reset__title{
	color: #BD9EFF;
	font-size: 1.5em;
	margin-bottom: 25px;
	font-weight: 400;
}
.pass-reset__button{
	cursor: pointer;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	background: #BD9EFF;
	border-radius: 25px;
	line-height: 45px;
	box-sizing: border-box;
	width: 270px;
	margin-bottom: 30px;	
	height: 45px;
}
.pass-reset-text{
	color: #BD9EFF;
	line-height: 19px;
	padding-right: 73px;
}
/*login*/
.login__title{
	color: #BD9EFF;
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
}
.pass-reset__box-text a{
	text-decoration: none;
	color: #BD9EFF;
	font-size: 0.875em;
	margin-left: 158px;
}
/*forward to a friends*/
.forward__title{
	color: #BD9EFF;
	font-size: 1.5em;
	margin-bottom: 25px;
	font-weight: 400;
}
.forward__box-text{
	width: 100%;
	margin-top: 120px;
	margin-left: 21px;
}
.forward__box-text input{
	margin-bottom: 15px;
	width: 270px;
	height: 45px;
	border: 1px solid #8E8E8E;
	box-sizing: border-box;
	border-radius: 25px;
}
.forward__box-text p{
	color: #8E8E8E;
	margin-bottom: 5px;
}
/*create acc*/
.create-acc-title{
	color: #BD9EFF;
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 30px;

}
.create-box-sex{
	display: flex;
	margin-bottom: 23px;
}
.create-box-sex label{
	color: #8E8E8E;
	font-weight: 400;
	line-height: 200%;
	margin-right: 40px;
	margin-left: 16px;
}
.create-acc-box-text{
	margin: 21px auto 50px;
}
.create-acc-box-text p{
	font-weight: 400;
	color: #8E8E8E;
	font-size: 1em;
	margin-bottom: 5px;
}
.create-acc-box-text input{
	width: 270px;
	height: 45px;
	border-radius: 25px;
	border: 1px solid #8E8E8E;
	margin-bottom: 15px;
}
.create-box-sex input{
	width: 25px;
	height: 25px;
}
.create-button{
	background: #BD9EFF;
	border-radius: 25px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	margin-top: 19px;
}
/*Contact page*/
.contact-page{
	background: url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
}
.contacts-box{
	display: flex;
}
.cont-line{
	font-size: 3em;
	color: #212122;
	font-weight: 400;
}
.cont-line:after{
	content: '';
	display: block;
	border: 1px solid #8E8E8E;
	width: 110px;
	margin: 10px 0 12px -48px;
}
.contact-page__box{
	padding-top: 144px;
	margin-left: 23.1%;
	padding-bottom: 302px;
}
.contact-page__box h2{
	color: #BD9EFF;
	margin: 0;
	margin-bottom: 12px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
}
.cont-box__item{
	margin-right: 50px;
	font-size: 1.25em;
}
.cont-box__item p{
	margin-bottom: 4px;
}
.special-line{
	color: #BD9EFF;
}
/*request a quote*/
.request-box-parth{
	display: flex;
	margin: 144px 15px 142px 135px;
}
.request-contacts h2{
	color: #BD9EFF;
	margin: 0;
	margin-bottom: 12px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
}
.request-field h2{
	color: #BD9EFF;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.request-field p{
	color: #8E8E8E;
}
.request-input{
	height: 40px;
	width: 270px;
	border: 1px solid #8E8E8E;
	box-sizing: border-box;
	border-radius: 25px;
	margin-bottom: 15px;
}
.request-input-field{
	border: 1px solid #8E8E8E;
	box-sizing: border-box;
	border-radius: 25px;
	width: 540px;
	height: 150px;
	margin-bottom: 30px;
}
.request-button{
	background: #BD9EFF;
	border-radius: 25px;
	color: #FFFFFF;
	align-items: center;
	text-align: center;
	width: 270px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 0;
}
/*user profile and registration вони однакові, майже*/
.user-profile-bg{
	background:  url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
	padding-top: 74px;
	padding-bottom: 90px;
}
.user-container{
	width: 80%;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	padding-top: 30px;
	padding-left: 50px;
}
.user-container h2{
	margin: 0;
	margin-bottom: 25px;
	color: #BD9EFF;
	font-size: 2.5em;
}
.user-box-sex{
	display: flex;
}
.user-inbox-container{
	display: flex;
}
.user-left-content{
	margin-right: 114px;
}
.user-inbox-container input{
	border: 1px solid #8E8E8E;
	box-sizing: border-box;
	border-radius: 7px;
	width: 275px;
	height: 40px;
	margin-bottom: 15px;
}
.user-inbox-container p{
	color: #8E8E8E;
	font-weight: 400;
	margin-bottom: 5px;
}
.user-language-parth{
	display: flex;
}
.user-box-sex input{
	width: 25px;
	color:  #BD9EFF;
}
.user-left-content select{
	width: 275px;
	height: 40px;
	border: 1px solid #8E8E8E;
	border-radius: 7px;
}
.user-language-parth select{
	width: 130px;
	height: 40px;
	border: 1px solid #8E8E8E;
	border-radius: 7px;
	margin-left: 14px;
}
#select-in-bottom{
	margin-top: 55px;
}
.user-language-box div{
	padding: 7px 42px;
	border: 1px solid #BD9EFF;
	border-radius: 7px;
	margin-bottom: 15px;
	cursor: pointer;
}
.user-language-box div:hover{
	color: #BD9EFF;
	border: 1px solid #BD9EFF;
}
.user-box-sex label{
	color: #8E8E8E;
	line-height: 45px;
	margin-right: 40px;
}
.user-right-content div a{
	color: #BD9EFF;
	text-decoration: none;
	font-size: 0.875em;
}
.user-add-lang-link{
	margin-bottom: 20px;
	margin-top: 15px;
}
.user__futer{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	padding-bottom: 30px;
}
.user__futer input{
	width: 35px;
	height: 35px;
	margin-right: 15px;
}
.user__futer-button{
	width: 240px;
	height: 45px;
	background: #BD9EFF;
	border-radius: 25px;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	cursor: pointer;

}
.user__futer p{
	width: 370px;
}
.user-futer-butons{
	display: flex;
}
.user-futer-butons div{
	color: #BD9EFF;
	text-align: center;
	width: 220px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #BD9EFF;
	border-radius: 25px;
	margin: 0 50px 30px 0;
	cursor: pointer;
}
/*quality policy*/
.quality-policy{
	background:  url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
}
.quality-policy-header-box{
	margin-left: 135px;
	padding-top: 104px;
}
.quality-policy-header-box h2{
	font-weight: 500;
	font-size: 1.5em;
	color: #BD9EFF;
	text-transform: uppercase;
}
.quality-policy-header-box h3{
	font-weight: 400;
	font-size: 3em;
	margin: 0;
	color: #212122;
}
.quality-policy-header-box h3:after{
	content: '';
	display: block;
	width: 110px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin-left: -48px;
}
.quality-policy-header-box p{
	margin-right: 43%;
	margin-top: 12px;
	line-height: 150%;
	font-size: 1.25em;
}
.quality-text-parth{
	margin-left: 135px;
	margin-right: 30px;
	font-size: 1.25em;
}
.quality-text-parth p{
	margin-bottom: 35px;
}
.quality-text-parth h2{
	font-size: 1.25em;
	color: #212122;
	font-weight: 400;
	margin-bottom: 10px;
}
.quality-button{
	text-align: center;
	width: 270px;
	background: #BD9EFF;
	border-radius: 25px;
	color: #FFFFFF;
	height: 45px;
	line-height: 45px;
	font-weight: 400;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 90px;
}
/*services*/
.services{
	background: url(../img/Subtract.jpg)100% 0 / 40% no-repeat; 
}
.services-box{
	padding-top: 104px;
	margin-left: 135px;
}
.services-box h2{
	color: #BD9EFF;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.services-title{
	color: #212122;
	font-size: 3em;
	font-weight: 400;
}
.services-title:after{
	content: '';
	display: block;
	width: 110px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin-left: -48px;
}
.services-text-parth{
	padding-bottom: 174px;
}
.services-text-parth h3{
	font-size: 1.25em;
	color: #212122;
}
.services-text-parth p{
	font-size: 1.25em;
	color: #000000;
	line-height: 23px;
	width: 55%;
}

/*services-and-text*/
.services-bg{
	background: url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
}
.services-container{
	margin-left: 135px;
	padding-top: 104px;
	padding-bottom: 90px;
	margin-right: 10%;
}
.services-text-title{
	color: #BD9EFF;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 12px;
}
.services-title-line{
	color: #212122;
	font-size: 3em;
	font-weight: 400;
}
.services-title-line:after{
	content: '';
	display: block;
	width: 110px;
	margin-left: -48px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin-bottom: 12px;
}
.services-container h2{
	font-size: 1.25em;
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: 400;
	color: #212122;
}
.services-container h3{
	font-size: 1.25em;
	font-weight: 400;
	color: #000000;
	margin-top: 15px;
	margin-bottom: 10px;
}
.services-container p{
	margin-bottom: 15px;
}
.services-button{
	background: #BD9EFF;
	border-radius: 25px;
	width: 270px;
	height: 45px;
	line-height: 45px;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
/*CV upload*/
.upload{
	background: url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
	padding-top: 74px;
	padding-bottom: 90px;
}
.upload__files-box{
	width: 55.6%;
	margin: 0 auto;
	padding: 20px 0 20px 50px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
}
.upload__files-box h2{
	color: #BD9EFF;
	margin: 0;
	font-size: 1.875em;
	font-weight: 400;
}
.files-box__inf{
	display: flex;
	margin-top: 21px;
	color: #212122;
	font-weight: 400;
}
.files-box__name-country{
	color: #BD9EFF;
	margin-left: 30%;
}
.lang-document{
	display: block;
	margin-right: 5px;
	color: #000000;
}
.CV-box{
	width: 55.6%;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	padding: 30px 0 30px 50px;
}
.CV-box h2{
	font-weight: 400;
	color: #BD9EFF;
	font-size: 1.875em;
	line-height: 35px;
}
.type-document{
	margin-right: 40px;
	color: #000000;
}
.CV-box-flex{
	display: flex;
	margin-bottom: 35px;
	font-weight: 400;
	font-size: 1.125em;
}
.CV-box-flex h3{
	color: #212122;
}
.upload__button-select{
	cursor: pointer;
	width: 220px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border: 1px solid #BD9EFF;
	box-sizing: border-box;
	border-radius: 25px;
	margin-bottom: 30px;
}
.upload__button-ok{
	cursor: pointer;
	width: 220px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #BD9EFF;
	box-sizing: border-box;
	border-radius: 25px;
	color: #FFFFFF;
}
/*logout*/
.logout{
	background: url(../img/Subtract.jpg) 100% 0 / 40% no-repeat;
	padding-bottom: 279px;
}
.logout-box{
	padding-top: 104px;
	margin-left: 135px;
}
.logout-title{
	font-weight: bold;
	color: #BD9EFF;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 12px;
}
.logout-person-box{
	display: flex;
	margin-bottom: 15px;
}
.logout-title-line{
	color: #212122;
	font-size: 3em;
	font-weight: 400;
}
.logout-title-line:after{
	content: '';
	display: block;
	width: 110px;
	border: 1.5px solid #8E8E8E;
	background: #8E8E8E;
	margin-left: -48px;
	margin-bottom: 15px;
}
.logout-person-name{
	font-size: 1.5em;
	color: #000000;
	line-height: 28px;
}
.logout-nickname{
	font-size: 1.25em;
	line-height: 23px;
	color: #000000;
	margin-top: 3px;
}
.logout-warning{
	color: #000000;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 30px;
}
.logout-buttons-box{
	display: flex;
}
.logout-buttons-ok{
	cursor: pointer;
	width: 220px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	color: #FFFFFF;
	background: #BD9EFF;
	border-radius: 25px;
	margin-right: 40px;
}
.logout-buttons-Cancel{
	cursor: pointer;
	width: 220px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	color: #FFFFFF;
	background: #BD9EFF;
	border-radius: 25px;
	margin-right: 40px;
}
/*cooki*/
.cooki{
	padding: 30px 130px;
}
.cooki h2{
	color: #BD9EFF;
	font-size: 1.5em;
	font-weight: 400;
}
.cookie-box{
	display: flex;
}
.cookie-flex{
	display: flex;
}
.cookie-box p{
	width: 70%;
	font-size: 1.5em;
	line-height: 28px;
	color: #212122;
}
.cooki-button-Accept{
	width: 220px;
	cursor: pointer;
	text-align: center;
	height: 45px;
	line-height: 45px;
	color: #FFFFFF;
	background: #BD9EFF;
	border-radius: 25px;
	margin: 39px 25px 0 52px;
}
.cooki-button-Cancel{
	width: 220px;
	cursor: pointer;
	text-align: center;
	height: 45px;
	line-height: 45px;
	border-radius: 25px;
	border: 1px solid #BD9EFF;
	margin-top: 39px;
}
/*slider slick*/
.slider-item img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}	
.slider-item h2{
	font-size: 1.125em;
	color: #000000;
	font-weight: 400;
	text-align: center;
}
.slider-item h3{
	font-weight: 400;
	color: #000000;
	text-align: center;
}
.slider-item p{
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	color: #000000;
	text-align-last: center;
	font-size: 0.875em;
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.slider{
	position: relative;
	padding: 0 100px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 4;
	font-size: 0;
	width: 30px;
	height: 100px;
	border: none;
}
.slider .slick-arrow.slick-prev{
	left: 16%;
	background: url(../img/slick/slick-arrow-left.svg) 0 0 / 100% no-repeat;

}
.slider .slick-arrow.slick-next{
	background: url(../img/slick/slick-arrow-right.svg) 0 0 / 100% no-repeat;
	left: 78%;
}
@media(max-width: 1292px){
	.comp__numeric{
		font-size: 4em;
	}
	.request-box-parth{
		display: block;
	}
	.request-button{
		margin-left: 0;
	}
	.same__jobs-item{
		margin-right: 30px;
	}
	.cooki{
		padding: 30px 5px 30px 10px;
	}
	.search-body{
		display: block;
	}
	.vacanciees{
		width: 90%;
		margin-left: 50px;
	}
	.header-home{
		padding-left: 50px;
	}
	.header-header p{
		text-align: center;
	}
	.header-home{
		background-size: auto 100%;
	}
}
 @media (max-width: 1052px) {
 	.contact-details-value p{
 		font-size: 0.8em;
 		line-height: 150%;
 	}
 	.inform-of-job{
 		display: block;
 	}
 	.same__jobs{
 		margin-top: 50px;
 	}
 	.same__jobs-right-block{
 		margin-left: 135px;
 	}
 	.same__jobs-item{
 		width: 90%;
 	}
 	.inform-of-job__exposition{
 		border: none;
 	}
 	.cookie-box p{
 		font-size: 1em;
 	}
 	.cooki-button-Accept{
 		margin-left: 10px;
 	}
}
@media(max-width:1000px){
	.slider .slick-arrow.slick-prev{
		left: 10%;
	}
	.slider .slick-arrow.slick-next{
		left: 83%;
	}

	.complishment__box{
		padding: 0 2%;
	}
	.complishment__box div{
		padding-right: 2.5%;
		padding-left: 2.5%;
	}
	.header-header{
		width: 90%;
		margin: 0 auto;
	}
}
@media (max-width: 940px){
	.contact-details-items p{
		font-size: 0.8em;
		margin-right: 2vw;
		line-height: 150%;
	}
	.user-inbox-container{
		display: block;
	}
	.pass-reset__box{
		width: 90%;
	}
	.forward__box-text input{
		width: 90%;
	}
	.pass-reset__button{
		width: 90%;
	}
}
@media(max-width: 874px){
	.grid{
		grid-template-columns: 37vw 37vw;
	}
	.container{
		width: 95%;
	}
}
@media (max-width: 864px){
	.futer__register-item{
		padding-left: 11vw;
		padding-right: 16vw;
	}
	.create-box-sex input{
		width: 25px;
	}

}
@media(max-width:846px){
	.slider .slick-arrow.slick-prev{
		left: 6%;
	}
	.slider .slick-arrow.slick-next{
		left: 87%;
	}
	.quality-policy-header-box{
		margin-left: 49px;
	}
	.quality-text-parth{
		margin-left: 49px;
	}
	.header-job-box{
		display: block;
	}
	.header-job-box img{
		margin-top: 150px;
	}
	.picture-job{
		margin-left: 135px;
	}
	.des-job{
		align-items: center;
		margin-top: 50px;
		margin-left: 135px;
	}
	.des-job-time__box img{
		margin-top: 0;
	}
	.des-job-butons__box img{
		margin-top: 0;
	}
	.picture-job{
		margin-top: 0;
	}
	.additional-inform__box{
		margin-top: 20px;
	}
	.header-home{
		padding-bottom: 10px;
	}
}
@media(max-width: 829px){
	.user__futer-button{
		margin-top: 20px;
	}
	.cooki-button-Accept{
		width: 150px;
	}
	.cooki-button-Cancel{
		width: 150px;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 95%;
	}
	.logo img{
		width: 85%;
	}
@media(max-width:767px){
	.about-us__header-box{
		width: 90%;
		margin: 0 auto;
		padding: 0;
		padding-top: 70px;
		margin-bottom: 50px;
	}
	.techno-box{
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	}
	.about-us__intro-parth{
		width: 100%;
		margin-left: 5%;
	}
	.intro__title-line{
		width: 100%;
	}
	.techno-photos{
		width: 90%;
		height: 70vw;
	}
	.techno-text-parth{
		width: 100%;
		margin: 0 auto;
		margin-top: 17px;
		margin-bottom: 30px;
	}
	.techno-text-parth div{
		margin-left: 49px;
	}
	.complishment__box{
		display: block;
	}
	.complishment__box div{
		border-right: none;
		border-bottom: 1.5px solid #8E8E8E;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.about-us__intro-parth{
		width: 90%;
		padding-right: 7%;
		margin: 0 auto;
	}
	.techno__text{
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.technological{
		width: 90%;
		margin: 0 auto;
	}
	.complishment{
		padding: 0;
		width: 100%;
		margin: 0 auto;
	}
	.slider-item p{
		font-size: 0.875em;
	}
	.futer-container{
 		display: block;
 	}
	.futer__register-item:last-child{
	border-bottom: 2px solid #8E8E8E;
	}
	.contacts{
		margin-left: 13vw;
	}
	.contact-details-value p{
 		font-size: 1em;
 		line-height: 100%;
 	}
 	.contact-details-items p{
		font-size: 1em;
		line-height: 100%;
	}
	.contact-page__box{
		margin-left: 49px;
	}
	.cont-box__item{
		font-size: 0.875em;	
	}
	.cont-box__item{
		margin-right: 5px;
	}
	.cont-line{
		font-size: 2em;
	}
	.contacts-box{
		margin-left: -30px;
	}
	.request-contacts{
		font-size: 0.875em;
	}
	.request-input{
		width: 50%;
	}
	.request-button{
		width: 50%;
	}
	.request-input-field{
		width: 95%;
	}
	.request-box-parth{
		margin-left: 49px;
	}
	.CV-box{
		width: 90%;
		margin: 0 auto;
	}
	.CV-box-flex{
		font-size: 0.875em;
	}
	.upload__files-box{
		width: 90%;
		margin: 0 auto;
		font-size: 0.875em;
		margin-bottom: 30px;
	}
	.upload__button-select{
		width: 50%;
	}
	.upload__button-ok{
		width: 50%;
	}
	.files-box__name-country{
		margin-left: 20%;
	}
	.quality-policy-header-box p{
		margin-right: 30px;
		font-size: 1em;
	}
	.quality-policy-header-box h3{
		font-size: 2em;
	}
	.quality-text-parth p{
		font-size: 0.875em;
	}
	.services-box{
		margin-left: 49px;
	}
	.services-text-parth{
		margin-left: 49px;
	}
	.services-text-parth p{
		width: 80%;
	}
	.services-title{
		font-size: 2em;
	}
	.services-container{
		margin-left: 49px;
	}
	.services-button{
		width: 90%;
	}
	.services-title-line{
		font-size: 2em;
	}
	.pass-reset__box-content img{
		display: none;
	}
	.pass-reset__title{
		font-size: 3em;
		text-align: center;
	}
	.pass-reset__box-text{
		margin-top: 30px;
	}
	.pass-reset__box{
		width: 70%;
	}
	.create-acc-box-text input{
		width: 90%;
	}
	.create-box-sex input{
		width: 25px;
		height: 25px;
	}
	.create-button{
		width: 90%;
	}
	.pass-reset__box-text a{
		margin: 0 auto;
	}
	.pass-reset__box-text input{
		width: 90%;
	}
	.pass-reset__button{
		width: 90%;
	}
	.forward__box-text{
		margin-top: 30px;
	}
	.forward__title{
		font-size: 2em;
	}
	.upload__files-box{
		padding-left: 20px;
	}
	.CV-box{
		padding-left: 20px;
	}
	.type-document input{
		margin-bottom: 10px;
	}
	.lang-document input{
		margin-bottom: 10px;
	}
	.picture-job{
		margin-left: 30px;
	}
	.picture-job img{
		margin-top: 35px;
	}
	.des-job{
		margin-left: 15px;
	}
	.inform-of-job__exposition{
		margin-left: 15px;
	}
	.same__jobs-right-block{
		margin-left: 15px;
	}
	.des-job-name{
		font-size: 2em;
	}
	.additional-inform__box{
		font-size: 1em;
	}
	.additional-inform__box div{
		padding-right: 5px;
	}
	.cookie-box{
		display: block;
	}
	.cookie-box p{
		width: 95%;
	}
	.cooki-button-Accept{
		margin-top: 15px;
		margin-left: 0;
	}
	.cooki-button-Cancel{
		margin-top: 15px;
	}
	.header-home{
		padding-left: 5px;
	}
	.vacanciees{
		margin-left: 5px;
	}
	.search-container{
		margin-left: 5px;
	}
	.vacanciees-grid-item{
		width: 97%;
	}
	.vacanciees{
		width: 97%;
	}
	.grid-details{
		width: 100px;
	}
	.grid-share{
		width: 100px;
	}
}
@media(max-width: 469px){
	.contact-details-value p{
 		font-size: 0.8em;
 		line-height: 150%;
 	}
 	.contact-details-items p{
		font-size: 0.8em;
		line-height: 150%;
	}
	.contacts{
		margin-left: 5vw;
	}
	.futer__register-item{
		padding-left: 5vw;
	}
	.cont-box__item{
		font-size: 0.780em;	
	}
	.request-box-item{
		font-size: 0.875em;
		margin-right: 2px;
	}
	.user-futer-butons{
		display: block;
		padding-bottom: 30px;
	}
	.user-futer-butons div{
		width: 240px;
	}
	.user-left-content input{
		width: 130%;
	}
	.user-right-content input{
		width: 80%;
	}
	.logout-box{
		margin-left: 49px;
	}
	.description__apply{
		width: 100px;
	}
	.description__share{
		width: 100px;
	}
	.additional-inform__box{
		width: 90%;
	}
}